<div class="container" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">User Login <hr class="slim"></h2>
<div class="row-fluid">
<div class="container-narrow well tranmin">
= form_for(:session ,{:url => sessions_path ,:html=>{:class=>""} })  do |f|
  
    
 


  <fieldset>
  %div{:class=>"row-fluid"}
  - if flash[:notice]
    %div{:class=>"alert alert-success"}
      = flash[:notice]
  - elsif flash[:warning]
    %div{:class=>" alert alert-warning"}
      = flash[:warning]
  - elsif flash[:error]
    %div{:class=>"alert alert-danger"}
      = flash[:error]
    
  <legend>I have an account  </legend>
  <div class="input-prepend well-small">
  = flash[:message]
  <span class="add-on">Email</span>
  <input id="prependedInput" type="text" placeholder="Enter your Email" name="session[username]">
  </div>
  <div class="input-prepend well-small">
  <span class="add-on">Password&nbsp; </span>
  <input id="prependedInput" type="password" placeholder="Enter your password" name="session[password]">
  </div>
  <div class="well-small">
  <button class="btn btn-submit"><i class="icon-white icon-off"></i> Login</button> | <a href="#">Forgot Password</a>
  </div>
  </fieldset>

</div> 
<div class="nosrednahabo">&nbsp;</div>                                      
</div>
</div>