%style{:type=>"text/css"}
  select{width:90px;}
<div class="container-narrow" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">Edit Registration <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">

= form_for @participant , :html =>{:multipart => true} do |f|
  <fieldset>
  <legend>Please fill this form</legend>
  
  <div class="input-prepend well-small">
  <span class="add-on">Event &nbsp;&nbsp;&nbsp;</span>
  = collection_select(:participant ,:event_id ,@events , :id , :name, :include_blank =>true)
   
  </div>
  <div class="input-prepend well-small">
  <span class="add-on"> Participant's Title &nbsp;&nbsp;&nbsp;</span>
  = f.select :title ,[["",""],["Mr","Mr"],["Mrs","Mrs"],["Miss","Miss"],["Dr","Dr"], ["Chief","Chief"]].sort
   
  </div>
  
  
  <div class="well-small">
  <label>Participant's Firstname &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :firstname, :placeholder=>"Enter Participant's name"
  </div>
  
  <div class="well-small">
  <label>Participant's' Lastname &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :lastname, :placeholder=>"Enter Participant's name"
  </div>
  
  <div class="well-small">
  <label>Participant's' Email &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :email, :placeholder=>"Enter Participant's email"
  </div>
  
  <div class="well-small">
  <label>Participant's' Phone &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :phone, :placeholder=>"Enter Participant's phone"
  </div>
  
  <div class="well-small">
  <label>Participant's' Address &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :address, :placeholder=>"Enter Participant's address"
  </div>
  
  <div class="well-small">
  <label>Participant's' Office &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :office, :placeholder=>"Enter Participant's office"
  </div>
  <div class="well-small">
  <label>Ticket Price(NGN) &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :ticket_cost, :value =>"130,000", :placeholder=>"Enter Participant's name"
  </div>
  
  <div class="well-small">
  <label>Discount rate(%) &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :discounted, :value =>"0" ,:placeholder=>"0%"
  </div>
  = f.hidden_field :user_id , :value => @current_user.id
   
  <div class="input-prepend well-small">
  <span class="add-on">State &nbsp;&nbsp;&nbsp;</span>
  = collection_select(:participant ,:ng_state_id ,@states , :id , :state, :include_blank =>true)
   
  </div>

  <div class="well-small">
  <label> date Out</label>
  
  = f.date_select :date_in,:start_year=>Time.now.year,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small '}
  </div>
  
  <div class="well-small ">
  <label>Date Out</label>
  
  = f.date_select :date_out,:start_year=>Time.now.year,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small ' , :style=>"width:1em;"}
  </div>
  
  
  
  
  
  <hr class="soften">
  
  <button class="btn btn-submit"><i class="icon-white icon-plus-sign"></i> Modify</button>
  </fieldset>
   
  </div></div>

 
</div>