<div class="container" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">Manage Participants <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">
<table class="table table-striped table-hover table-bordered">
<caption><strong>Total Participants &rarr; #{@participants.size} <hr></strong>
- if !@event_title.blank?
  %span{:class=>"alert alert-success"}
    %strong Event &rarr;
    %strong= @event_title
</caption>
<tr>

<th>ID </th>
<th>
=link_to "Names" , participants_url(:sort=>"firstname asc")
</th>
<th>
=link_to "Phones" , "#" 
</th>
<th>
= link_to "Event \#",participants_url(:sort=>"event_id desc")
</th>
<th>
= link_to "State" , participants_url(:sort=>"ng_state_id asc")
</th>
%td
  = link_to "Mode of Payment" ,"#"
<th>Actions </th>
</tr>
- @participants.each do |p|
  %tr
    %td= p.uni_id
    %td= p.firstname + " " + p.lastname
    
    %td= p.phone
    %td= link_to p.event.id , participants_url(:event_id =>p.event_id)
    %td= p.ng_state.state
    %td= p.payment_mode
    %td
      <div class="btn-group">
      <!--<a href="#" class="btn btn-small fancybox"><i class="icon-comment"></i> SMS </a> -->
      <!--<a href="#" class="btn btn-small  fancybox btn-blue"><i class="icon-white icon-envelope"></i> Email </a> -->
      <a href="#{edit_participant_url(p.id)}" class="btn btn-small btn-success"><i class="icon-white icon-edit"></i> Edit </a>
      <a href="#{participant_url(p.id)}" data-method="delete" data-confirm="Delete Participant?" class="btn btn-small btn-red"><i class="icon-white icon-trash"></i> Delete </a>
      </div> 
   
</table>

%div
  =link_to "Register Participant" , "#{new_participant_url}" ,:class=>"btn btn-lblue"
  = link_to "Export for Excel", "#" ,:class=>"btn btn-lblue"
= render "shared/paginate"

                   
                    
</div>
<div class="nosrednahabo">&nbsp;</div>                                      
</div>
</div>