%style{:type=>"text/css"}
  select{width:90px;}
<div class="container-medium" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">New Participant <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well1">
%div
  %strong
    #{image_tag "/OfficialLogo.fw.png",:width =>"170" ,:height => "80",:style=>"margin:0 12em 0 40%;"}
= form_for @participant , :html =>{:multipart => true} do |f|
  <fieldset>
  <legend style="font-size:28px;">P a r t i c i p a n t s  &nbsp;&nbsp; R e g i s t r a t i o n  &nbsp;&nbsp;  F o r m</legend>
  %p
    Please fill in the required information accordingly. 
    -#We would advise you fill it out in Capital letters to aid easy data entry into our database.
    -#The form is divided into 3 sections according to the type of information required.
  %p
    On no account would the Senate Committee on States and Local Government Administration disclose your details to third party individuals or organizations. 
    %code This registration process is strictly for logistics and inventory purposes only.
  
  %caption
    %strong Section 1: Bio Data
  %p This section covers the provision of personal information for use by the Senate Committee on States and Local Government Administration. Please note that the names you give here are the same names that would appear on the final certificate to be issues at the end of the conference.
  <div class="input-prepend well-small">
  <span class="add-on">Event &nbsp;&nbsp;&nbsp;</span>
  = collection_select(:participant ,:event_id ,@events , :id , :name, :include_blank =>false)
   
  </div>
  <div class="input-prepend well-small">
  <label>Title &nbsp;&nbsp;&nbsp;</label>
  -#= f.select :title ,[["",""],["Mr","Mr"],["Mrs","Mrs"],["Miss","Miss"],["Dr","Dr"], ["Chief","Chief"]].sort
  = f.text_field :title 
  </div>
  
  
  <div class="well-small">
  <label> Firstname &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :firstname, :placeholder=>"Enter Participant's firstname"
  </div>
  
  <div class="well-small">
  <label> Surname &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :lastname, :placeholder=>"Enter Participant's surname"
  </div>
  
  <div class="well-small">
  <label> Other Names &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :othername, :placeholder=>"Enter Participant's other names"
  </div>
  
  <div class="well-small">
  <label> Sex &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :gender, :placeholder=>"Enter Participant's name"
  </div>
  
  <div class="input-prepend well-small">
  <span class="add-on">State &nbsp;&nbsp;&nbsp;</span>
  = collection_select(:participant ,:ng_state_id ,@states , :id , :state, :include_blank =>true)
   
  </div>
  
  <div class="well-small">
  <label> Local Government &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :lgward, :placeholder=>"Enter Local Government"
  </div>
  
  <div class="well-small">
  <label> Occupation &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :occupation, :placeholder=>"Enter Participant's Occupation"
  </div>
  
  <div class="well-small">
  <label> Position Currently Held &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :position_currently_held, :placeholder=>"Enter Participant's Position"
  </div>
  <div>
  %caption
    %strong Section 2:  Contact Information
  
  %p
    This section covers information necessary for follow-up correspondence and notifications of future events and publications by the Senate Committee on States and Local Government Administration

  </div>
  <div class="well-small">
  <label>Office  Address &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :address, :placeholder=>"Enter Office address"
  </div>
  <div class="well-small">
  <label>Telephone  1 &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :phone, :placeholder=>"Phone"
  </div>
  
  <label>Telephone  2 &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :phone, :placeholder=>""
  </div>
  
  <div class="well-small">
  <label>Email  Address &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :email, :placeholder=>""
  </div>
  
  <div>
  %caption
    %strong Section 3:  Conference Options
    %p
      -#Please tick the most appropriate option.

  </div>
  <div>
  <label> Payment Mode?  &nbsp;&nbsp;&nbsp;</label>
  - @modes = [["Bank Draft","Bank Draft"],["Cash","Cash"],["Prepaid","Prepaid"]]
  = f.select :payment_mode , @modes ,:include_blank =>true
  </div>
  <div>
  <label> Would you be attending the closing ceremony?  &nbsp;&nbsp;&nbsp;</label>
  %span Yes
  = f.radio_button :closing_ceremony , :value => 'Yes'
  
  %span No
  = f.radio_button :closing_ceremony , :value => 'No'
  </div>
  
  <div>
  <label> Would you be interested in receiving follow-up information after the conference? &nbsp;&nbsp;&nbsp;</label>
  %span Yes
  = f.radio_button :followup_info , :value => 'Yes'
  
  %span No
  = f.radio_button :followup_info , :value => 'No'
  </div>
  
  <div>
  <label> Would you be participating in the dinner lunch?  &nbsp;&nbsp;&nbsp;</label>
  %span Yes
  = f.radio_button :attending_dinner , :value => 'Yes'
  
  %span No
  = f.radio_button :attending_dinner , :value => 'No'
  </div>
  
  <div>
  <label> Would you like a copy of the recordings of this seminar?    &nbsp;&nbsp;&nbsp;</label>
  %span Yes
  = f.radio_button :event_recordings , :value => 'Yes'
  
  %span No
  = f.radio_button :event_recordings , :value => 'No'
  </div>
   
  
  
  -#<div class="well-small">
  -#<label>Ticket Price(NGN) &nbsp;&nbsp;&nbsp;</label>
  = f.hidden_field :ticket_cost, :value =>"130,000"
  -#</div>
  
  <div class="well-small">
  
  = f.hidden_field :discounted, :value =>"0" ,:placeholder=>"0%"
  </div>
  = f.hidden_field :user_id , :value => @current_user.id
   
  

  -#<div class="well-small">
  -#<label> date Out</label>
  
  -#= f.date_select :date_in,:start_year=>Time.now.year,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small '}
  -#</div>
  
  -#<div class="well-small ">
  -#<label>Date Out</label>
  
  -#= f.date_select :date_out,:start_year=>Time.now.year,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small ' , :style=>"width:1em;"}
  -#</div>  
  <hr class="soften"/>
  
  <button class="btn btn-submit"><i class="icon-white icon-plus-sign"></i> Register</button>
  </fieldset>
</div>

</div></div>