%style{:type=>"text/css"}
  select{width:90px;}
<div class="container-medium" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">New Staff <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">


= form_for @user do |f|
  
  
  
  
  
  <div class="input-prepend well-small">
  <label class="">Password &nbsp;&nbsp;&nbsp;</label>
  = f.password_field :password , :placeholder=>"Enter Password",:id=>"prependedinput"
   
  </div>
  <div class="input-prepend well-small">
  <label class=""> Verify Pasword &nbsp;&nbsp;&nbsp;</label>
  = f.password_field :password_confirmation , :placeholder=>"Verify Password Above",:id=>"prependedinput"
   
  </div>
  
  
  <hr class="soften">
  
  <button class="btn btn-submit"><i class="icon-white icon-plus-sign"></i> Change Password</button>



  





</div>
</div>
</div>