<div class="container" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">Manage Staff <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">
<table class="table table-striped table-hover table-bordered">
<caption><strong>Total Staff &rarr; #{@users.size} <hr></strong>

</caption>
<tr>


<th>
=link_to "Firstname" ,users_url(:sort=>"firstname desc")
</th>
<th>
=link_to "Lastname" , users_url(:sort=>"lastname desc")
</th>
<th>
= link_to "Email",users_url(:sort=>"email asc")
</th>


<th>Actions </th>
</tr>
- @users.each do |p|
  %tr
    
    %td= p.firstname 
    %td= p.lastname
    %td= p.email
    
    %td
      <div class="btn-group">
      <a href="#{edit_user_url(p.id)}" class="btn btn-small btn-success"><i class="icon-white icon-edit"></i> Edit </a>
      <a href="#{user_url(p.id)}" data-method="delete" data-confirm="Delete Staff?" class="btn btn-small btn-red"><i class="icon-white icon-trash"></i> Delete </a>
      </div> 
   
</table>

%div
  =link_to "New Staff" , "#{new_user_url}" ,:class=>"btn btn-lblue"

= render "shared/paginate"

                   
                    
</div>
<div class="nosrednahabo">&nbsp;</div>                                      
</div>
</div>