%style{:type=>"text/css"}
  select{width:90px;}
<div class="container-medium" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">Staff Profile <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">


= form_for @user do |f|
  
  
  
  <div class="input-prepend well-small">
  <label >Firstname &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :firstname , :placeholder=>"Enter firstname",:id=>"prependedinput", :readonly  =>true
   
  </div>

  <div class="input-prepend well-small">
  <label class="">Lastname &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :lastname , :placeholder=>"Enter lastname",:id=>"prependedinput" , :readonly  =>true
   
  </div>
  
  <div class="input-prepend well-small">
  <label class="">Email &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :email , :placeholder=>"Enter email",:id=>"prependedinput", :readonly  =>true
   
  </div>
  
  <div class="input-prepend well-small">
  <label class="">Username &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :username , :placeholder=>"Enter username",:id=>"prependedinput" , :readonly  =>true
   
  </div>
  
 
  
  <div class="input-prepend well-small">
  
  <label class=""> Staff Group &nbsp;&nbsp;&nbsp;</label>
  = f.text_field :group_id ,:value=> @user.group.name, :readonly=>"readonly"
  </div>
  <hr class="soften">
  
 


  





</div>
</div>
</div>