<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="./">
= image_tag "logo.fw.png"
</a>
<div class="nav-collapse collapse">           
<ul class="nav">
<li class="divider-vertical"></li>
<li><a href="#{dashboard_path}"><i class="icon32 icon-red icon-gear"></i> System Dashboard</a></li>
<li class="divider-vertical"></li>
<li><a href="#{participants_url}"><i class="icon32 icon-red icon-users"></i> Participants</a></li>
<li class="divider-vertical"></li>
<li><a href="#{events_url}"><i class="icon32 icon-red icon-bookmark"></i> Events</a></li>
<li class="divider-vertical"></li>            
</ul>
<ul class="nav pull-right">
<li class="divider-vertical"></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
-#=image_tag "images/bii.jpg" 
Hi #{current_user.username} <b class="caret"></b></a>
<!---->
<ul class="dropdown-menu">
<li>
<div class="row-fluid" style="padding:10px;">
 
= image_tag "/img/biii.jpg" , :class=>"left"
= @current_user.username
</div>
</li>
<li class="divider"></li>
<li><a href="#{change_my_password_users_url}">Change My Password</a></li>

<li class="divider"></li>
<li><a href="#{logout_url}">Logout</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div>