<ul class="media-list">
- if @events.blank?
  <li class="media">
  <a class="pull-left" href="#">
  <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
  <h4 class="media-heading"> Nothing Found in our events archive</h4>
  %p &nbsp;  ...
  <!--<p class="pull-right"><span><em>June 4, 2013 | 3:00pm</em></span></p> -->
  <p class="pull-right"><span><em> 
  = time_tag Date.today
  | #{Time.zone.now.hour} : #{Time.zone.now.min}
  </em></span></p> 
  </div>
  </li>
- else
  - @events.each do |e|
    <li class="media">
    <a class="pull-left" href="#">
    
    = image_tag "#{e.logo.url(:thumb)}" , :width=>"80" , :height =>"100"
    </a>
    <div class="media-body">
    <h4 class="media-heading"> #{link_to(e.name, event_url(e.id))}</h4>
    <p class="pull-right"><span> 
    = time_tag e.start_date
    | #{e.start_time.strftime("%H:%M")}
    </span></p> 
    </div>
    </li>
    
    
                
</ul>
<a href="#{events_url}" class="btn btn-submit btn-block btn-small"><i class="icon-white icon-plus-sign"></i> view all </a>