<hr class="light">
<div class="footer">
<div class="container">
<p class="muted credit pull-left">CemProactii &copy; 2013 </p>
<p class="pull-right muted"><a href="http://www.leproghrameen.com" target="_blank">Designed by Le Proghrammeen Solutions</a> </p>
</div>
</div>