<div class="span4 well mxh">
<h3 align="center">News <hr class="soften"></h3>
<ul class="media-list">
<!--<li class="media">                    
<img class="pull-left media-object" data-src="holder.js/120x128">
<div class="media-body">
<h4 class="media-heading">Event heading</h4>
Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras  ...
<p class="pull-left"><a href="#" class="btn btn-small btn-inverse"><i class="icon-white icon-plus"></i> Detail</a></p> 
</div>                    
</li>-->
<li class="media">                    
<img class="pull-left media-object" data-src="holder.js/120x128">
<div class="media-body">
<h4 class="media-heading">Cemproactii News</h4>
%p Nothing found in our news archive  ...
<p class="pull-left"><a href="#" class="btn btn-small btn-inverse"><i class="icon-white icon-plus"></i> Detail</a></p> 
</div>                    
</li>
</ul>
<hr class="soften">
<a href="#" class="btn btn-submit btn-block btn-small"><i class="icon-white icon-plus-sign"></i> view all </a>
</div>