<div class="container">
<div class="navbar navbar-inverse ff7">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>

<div class="nav-collapse collapse">
<p class="navbar-text pull-right">
<a href="#{login_url}" class="navbar-link" style="font-size:19pt;"><i class="icon32 icon-red icon-user"></i>Login</a>
</p>
<ul class="nav">             
<li class="active"><a href="#{cem_url}"><i class="icon-white icon-home"></i></a></li>
<li class="divider-vertical"></li>
<li><a href="#{about_url}">About Us</a></li>
<li class="divider-vertical"></li>
<li><a href="#{services_url}">Our Services</a></li>
<li class="divider-vertical"></li>
<li><a href="#{events_url}">Events</a></li>
<li class="divider-vertical"></li>
<li><a href="#{contact_url}">Contact Us</a></li>              
</ul>

</div>
</div>
</div>
</div>
</div>
