<div class="container">
<div class="frx well ff3 ff4">
<div id="slider" class="sl-slider-wrapper">
<div class="sl-slider">       
<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
<div class="sl-slide-inner">
<div class="bg-img bg-img-1"></div>
<h2>Positioning Local Governments as hubs of National Transformation</h2>
<blockquote><p>#{link_to "Read more" , "#",:class=>"btn btn-submit btn-block btn-small",:style=>"width:7em;"}.</p><cite>Date: May 13th, 2013 | 9:00am</cite></blockquote>
</div>
</div>

<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
<div class="sl-slide-inner">
<div class="bg-img bg-img-2"></div>
<h2>Positioning Local Governments as hubs of National Transformation</h2>
<blockquote><p>#{link_to "Read more" , "#",:class=>"btn btn-submit btn-block btn-small",:style=>"width:7em;"}.</p><cite>Date: May 13th, 2013 | 9:00am</cite></blockquote>
</div>
</div>

<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
<div class="sl-slide-inner">
<div class="bg-img bg-img-3"></div>
<h2>Positioning Local Governments as hubs of National Transformation</h2>
<blockquote><p>#{link_to "Read more" , "#",:class=>"btn btn-submit btn-block btn-small",:style=>"width:7em;"}.</p><cite>Date: May 13th, 2013 | 9:00am</cite></blockquote>
</div>
</div>

<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
<div class="sl-slide-inner">
<div class="bg-img bg-img-4"></div>
<h2>Positioning Local Governments as hubs of National Transformation</h2>
<blockquote><p>#{link_to "Read more" , "#",:class=>"btn btn-submit btn-block btn-small",:style=>"width:7em;"}.</p><cite>Date: May 13th, 2013 | 9:00am</cite></blockquote>
</div>
</div>

<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
<div class="sl-slide-inner">
<div class="bg-img bg-img-5"></div>
<h2>Positioning Local Governments as hubs of National Transformation</h2>
<blockquote><p>#{link_to "Read more" , "#",:class=>"btn btn-submit btn-block btn-small",:style=>"width:7em;"}.</p><cite>Date: May 13th, 2013 | 9:00am</cite></blockquote>
</div>
</div>
</div>
<nav id="nav-dots" class="nav-dots">
<span class="nav-dot-current"></span>
<span></span>
<span></span>
<span></span>
<span></span>
</nav>
</div>
</div>
</div>