<div class="frx">            
<div class="gbar">
<div class="container">
<div class="row-fluid">
<div class="span12" align="right">Online Connect <a href="" title="Find us on facebook">
= image_tag "facebook.fw.png" 
</a>
<a href="" title="Follow us on twitter">
= image_tag "Twitter.fw.png"
</a></div>
</div>  
</div>
</div>      
</div>