<h3 align="center">Subscribe to Our Events <hr class="soften"></h3>
<form>
<div class="input-prepend">
<span class="add-on">Phone</span>
<input id="prependedInput" type="text" placeholder="Your Phone Number">
</div>
<hr>
<div class="input-prepend">
<span class="add-on">Email&nbsp;</span>
<input id="prependedInput" type="text" placeholder="Your Email Address">
</div>
<div class="nosrednahabo">&nbsp;</div>
<button class="btn btn-submit"><i class="icon-white icon-chevron-right"></i> Subscribe</button>
</form>