<div class="span6 well">
<h3>Speakers & Dignitaries </h3>
<div id="imgholder">
- @event.event_speakers.reverse.each do |d|
 
  = image_tag(d.photo.url(:medium),:alt=>"#{link_to(d.fullname,d.url,:target=>'_blank')} ")
  -#= link_to d.fullname ,"#"
   
  - if signed_in?
    %p
      <a class="btn" href="#{edit_event_speaker_url(d.id)}"><i class="icon-pencil"></i></a>   
      = link_to "<i class=\"icon-trash\"></i>".html_safe, event_speaker_url(d.id) ,:method => :delete,:class=>"btn" ,:data=>{:confirm=>"Delete #{d.fullname} ?",:title => "Delete #{d.fullname}"}
 
</div>
