<div class="span6 well">
<h3>Speakers & Dignitaries </h3>
<div class="scrollspy sbar p10">
<div class="topbar">
<span id="close" class="btn back"><i class="icon-chevron-left"></i> Back</span>
<h3 id="name"></h3>
</div>
<div class="wrapit">
<ul id="tp-grid" class="tp-grid">

- @event.event_speakers.reverse.each do |d|
  <li data-pile="#{d.event.name}">
  <span class="tp-info"><span>#{d.fullname}</span></span>
  = image_tag(d.photo.url(:thumb),:alt=>"")
   
  - if signed_in?
    %p
      <a class="btn" href="#{edit_event_speaker_url(d.id)}"><i class="icon-pencil"></i></a>   
      = link_to "<i class=\"icon-trash\"></i>".html_safe, event_speaker_url(d.id) ,:method => :delete,:class=>"btn" ,:data=>{:confirm=>"Delete #{d.fullname} ?",:title => "Delete #{d.fullname}"}
  </li>

</ul>
</div>
</div>
