%style{:type=>"text/css"}
  select{width:90px;}
<div class="container-narrow" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">New Event <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">

= form_for @event , :html =>{:multipart => true} do |f|
  <fieldset>
  <legend>Please fill this form</legend>
  <div class="input-prepend well-small">
  <span class="add-on">Title &nbsp;&nbsp;&nbsp;</span>
  = f.text_field :name , :placeholder=>"Enter event name",:id=>"prependedinput"
   
  </div>
  
  <div class="well-small">
  <label>Event Detail&nbsp;&nbsp;&nbsp;</label>
  = f.text_area :about, :rows=>5, :class=>"span10",:placeholder=>"Enter Event Content"
  </div>
   
  <div class="input-prepend well-small">
  <span class="add-on">Location &nbsp;&nbsp;&nbsp;</span>
  
  = f.text_field :location , :placeholder =>"Enter event location/address"
  </div>
  
      
  <div class="input-prepend well-small">
  <span class="add-on">Speakers &nbsp;&nbsp;</span>
  
  %br
  - if !@event.event_speakers.empty? 
    - @event.event_speakers.each do |sp|
      <div class="well-small"></div>
      <label>#{ sp.fullname}</label>    
      = image_tag sp.photo.url(:thumb)
      = link_to "Edit Speaker" , edit_event_speaker_url(sp.id)
    
  - else
    %br
    = link_to "Add Speaker(s)" , new_event_speaker_url(:event_id=>@event.id), :target =>"_blank",:class=>" btn btn-submit"
     
  
  %br
  %br
    
  
  <!--<a href="#" class="btn btn-red btn-small pull-right"><i class="icon-white icon-plus"></i> Add Speakers</a>-->
  <hr class"soften">
  
  <div class="input-prepend well-small">
  <span class="add-on">Number of Participants &nbsp;&nbsp;&nbsp;</span>
  
  = f.text_field :participants_number,:class=>"span4", :placeholder=>"Enter number"
  </div>                                
  
  <div class="input-prepend well-small">
  <span class="add-on">Event Images &nbsp;&nbsp;</span>
  
  %br
  - if !@event.event_images.empty? 
    
    = link_to "#{@event.event_images.size}(s) Images" , event_images_url(:event_id=>@event.id), :class=>" btn btn-submit"
  - else
    %br
    = link_to "Add Event Image" , new_event_image_url(:event_id=>@event.id),:target =>"_blank", :class=>" btn btn-submit"
 
  
  %br
  %br
    
  
  
  </div> 
  <div class="well-small">
  <label>Event Logo/Banner</label>
  
  
  = image_tag @event.logo.url(:thumb)
  %br
  = f.file_field :logo
  
  </div>
  <div class="input-prepend well-small">
  <label>Event Ticketing</label>
  
  = f.text_area :tickteting,:rows=>5, :class=>"span10"

  </div>
  <div class="well-small">
  <label>Start date</label>
  
  = f.date_select :start_date,:start_year=>Time.now.year,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small '}
  </div>
  
  <div class="well-small ">
  <label>End Date</label>
  
  = f.date_select :end_date,:start_year=>Time.now.year,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small ' , :style=>"width:1em;"}
  </div>
  
  
  <div class="well-small">
  <label>Start time(local)</label>
  
  = f.time_select :start_time, :html=>{:class=>'input-small '}
  
  </div>
  
  <div class="well-small">
  <label>End time(local)</label>
  
  = f.time_select :end_time,:html=>{:class=>'input-small '}
  </div>
  
  <hr class="soften">
  = f.hidden_field :user_id , :value => @current_user.id
   
  <button class="btn btn-submit"><i class="icon-white icon-plus-sign"></i> Update Event</button>
  </fieldset>
   
  </div></div>
  
 
</div>