<div class="container" style="margin-top:40px;">
<div class="row-fluid">
<div class="span12 well">
<h2 align="center">Events <hr class="soften"></h2>
<div class="row-fluid">
<div class="span12">
<!--<h3>Events <hr class="tw"></h3>-->
<ul class="thumbnails">

- @events.each do |e|
  
  <li class="span3" style="margin:4px;">
  <div class="thumbnail tbw" align="center">
  <a href="#{event_url(e)}">
  -#= image_tag "2.jpg", :alt=>"" 
  = image_tag e.logo.url(:thumb)
  </a> <div class="description">  
  <p>#{e.name}</p>
  <p>Date: #{time_tag e.start_date} 
  | 
  - if !e.start_time.blank?
    Time: #{e.start_time.strftime("%H:%M")}
  </p>
  <p>Location: #{e.location} </p>
  </div>
  %p
  = link_to "Read more",event_url(e.id), :class=>"btn btn-submit  btn-block btn-small btn-success"
   
  </div> 
  - if signed_in?
    %p
      <a class="btn"  data-toggle="modal" href="#"><i class="icon-list-alt"></i></a>
      <a class="btn" href="#{edit_event_url(e.id)}"><i class="icon-pencil"></i></a>   
      = link_to "<i class=\"icon-trash\"></i>".html_safe, event_url(e.id) ,:method => :delete,:class=>"btn" ,:data=>{:confirm=>"Delete #{e.name} ?",:title => "Delete #{e.name}"}
     
 
</ul>
<hr class="soften">
<div class="pagination" align="center">
<!--<ul>
<li><a href="#">Prev</a></li>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">Next</a></li>
</ul>-->
= render "shared/paginate"
</div>


</div>
</div>
</div>
