%style{:type=>"text/css"}
  select{width:90px;}
<div class="container-medium" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">New Event <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">

= form_for @event , :html =>{:multipart => true} do |f|
  <fieldset>
  <legend>Please fill this form</legend>
  <div class="input-prepend well-small">
  <span class="add-on">Title &nbsp;&nbsp;&nbsp;</span>
  = f.text_field :name , :placeholder=>"Enter event name",:id=>"prependedinput"
   
  </div>
  
  <div class="well-small">
  <label>Event Detail&nbsp;&nbsp;&nbsp;</label>
  = f.text_area :about, :rows=>5, :class=>"span10",:placeholder=>"Enter Event Content"
  </div>
  = f.hidden_field :user_id , :value => @current_user.id
   
  <div class="input-prepend well-small">
  <span class="add-on">Location &nbsp;&nbsp;&nbsp;</span>
  
  = f.text_field :location , :placeholder =>"Enter event location/address"
  </div>
  
      
  <div class="input-prepend well-small">
  <span class="add-on">Speakers &nbsp;&nbsp;</span>
  
  %br
  %br
  <input id="prependedInput" type="text" name="data[event_speaker][][fullname]" placeholder="Enter event speakers">
  <div class="well-small"></div>
  <label>Photo</label>
  <input type="file" name="data[event_speaker][][photo]" id=""> 
  
  %br
  %br
  <input id="prependedInput" type="text" name="data[event_speaker][][fullname]" placeholder="Enter event speakers">
  <div class="well-small"></div>
  <label>Photo</label>
  <input type="file" name="data[event_speaker][][photo]" id=""> 
  
  
  %br
  %br
  <input id="prependedInput" type="text" name="data[event_speaker][][fullname]" placeholder="Enter event speakers">
  <div class="well-small"></div>
  <label> Photo</label>
  <input type="file" name="data[event_speaker][][photo]" id=""> 
  
  <!--<a href="#" class="btn btn-red btn-small pull-right"><i class="icon-white icon-plus"></i> Add Speakers</a>-->
  <hr class"soften">
  
  <div class="input-prepend well-small">
  <span class="add-on">Number of Participants &nbsp;&nbsp;&nbsp;</span>
  = f.text_field :participants_number,:class=>"span4", :placeholder=>"Enter number"

  </div>                                
  
  <div class="well-small">
  <label>Event Logo/Banner</label>
  
  = f.file_field :logo
  </div>
  
  <div class="input-prepend well-small">
  <label>Event Ticketing</label>
  
  = f.text_area :tickteting,:rows=>5, :class=>"span10"

  </div>
  <div class="well-small">
  <label>Start date</label>
  
  = f.date_select :start_date,:start_year=>Time.now.year,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small '}
  </div>
  
  <div class="well-small ">
  <label>End Date</label>
  
  = f.date_select :end_date,:start_year=>Time.now.year,:use_short_month=>true,:order=>[:day,:month,:year], :html=>{:class=>'input-small ' , :style=>"width:1em;"}
  </div>
  
  
  <div class="well-small">
  <label>Start time(local)</label>
  
  = f.time_select :start_time, :html=>{:class=>'input-small '}
  
  </div>
  
  <div class="well-small">
  <label>End time(local)</label>
  
  = f.time_select :end_time,:html=>{:class=>'input-small '}
  </div>
  
  <hr class="soften">
  
  <button class="btn btn-submit"><i class="icon-white icon-plus-sign"></i> Create Event</button>
  </fieldset>
   
  </div></div>

 
</div>