<div class="container" style="margin-top:40px;">
<div class="row-fluid">
<div class="span6 well">
<div class="breadcrumb"><a href="#{events_url}">Events</a> &laquo; Event Details </div>
<h3 class="soften">#{@event.name} <hr></h2>                    
- if !@event.about.blank?
  

  = @event.about.html_safe 
  
- else
  = @event.about
<hr>
<h3>Location</h3>
%p
  = @event.location

<h3>Date and Time</h3>
%p
  = time_tag @event.start_date
  = @event.start_time.strftime("%H:%M")
  \-
  = time_tag @event.end_date
  = @event.end_time.strftime("%H:%M.")
  
<hr>
<h3>Hotel Booking & Reservation</h3>
%p  Hotels are available within Abuja at affordable rates for participants and delegates.
%p  Here are links  to recommended hotels for you 
%p= link_to "Nicon Luxury", "http://www.niconluxury.com" , :target=>"_blank"
%p= link_to "Transcorp Hotel Abuja", "http://www3.hilton.com/en/hotels/nigeria/transcorp-hilton-abuja-ABUHITW/index.html" , :target=>"_blank"
%p= link_to "Chelsea Hotel Abuja", "http://www.chelseahotelabuja.com" , :target=>"_blank"

<hr>
<h3>Downloads</h3>
%p= link_to "Workshop Time Table" ,"/Workshop_Schedule.pdf",:target=>"_blank"

<hr>
<h3>Paper Submission Deadline</h3>
%p May 3<sup>rd</sup>, 2013.

- if signed_in?
  %p
  <a class="btn" href="#{edit_event_url(@event.id)}"><i class="icon-pencil"></i></a>   
  = link_to "<i class=\"icon-trash\"></i>".html_safe, event_url(@event.id) ,:method => :delete,:class=>"btn" ,:data=>{:confirm=>"Delete #{@event.name} ?",:title => "Delete #{@event.name}"}
  <a href="#{new_event_path}" class="btn btn-success"><i class="icon-white icon-plus-sign"></i> Add Event</a>

</div>
= render "speakers"
<div class="row-fluid">
<div class="span12">
<h3>Event Ticketing <hr class="tw"></h3>
-#= image_tag "demoimg.jpg" ,:class=>"pull-right img-rounded img-polaroid"
- if !@event.tickteting.blank?
  = @event.tickteting.html_safe
- else
  = @event.tickteting
  

</div>                    
</div>
<hr class="soften">


                
</div> 
                
</div>


</div>



<div class="container well">

<h2 class="soften">Event Partners & Sponsors <hr></h2>                    
- @event.event_partners.reverse.each do |e|
  = image_tag(e.logo.url(:thumb),:title => e.name) 
  &nbsp; &nbsp; &nbsp;
  
  - if signed_in?
    %p
      <a class="btn" href="#{edit_event_partner_url(e.id)}"><i class="icon-pencil"></i></a>   
      = link_to "<i class=\"icon-trash\"></i>".html_safe, event_partner_url(e.id) ,:method => :delete,:class=>"btn" ,:data=>{:confirm=>"Delete #{e.name} ?",:title => "Delete #{e.name}"}

<hr>
</div>
= render "shared/social_media_links"
