%div{:class=>"extraSpk"}
  <div class="input-prepend well-small">
  <span class="add-on">Name &nbsp;&nbsp;&nbsp;</span>
  
  = text_field_tag "event_partner[][name]",nil, {:placeholder => "Enter partner(e.g Firstbank Nig Plc)" } 
  </div>
  
  <div class="well-small">
  = file_field_tag "event_partner[][logo]" ,:multiple=>"multiple"
  </div>
  <hr class="soften">
  %br