body {
	position: relative;
	padding-top: 40px;
}
h3 code {
	font-size: 14px;
	font-weight: normal;
}
body > .navbar {
	font-size: 13px;
}
body > .navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: left;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
body > .navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
section {
	padding-top: 30px;
}
section > .page-header, section > .lead {
	color: #5a5a5a;
}
section > ul li {
	margin-bottom: 5px;
}
.bs-docs-separator {
	margin: 40px 0 39px;
}
hr.soften {
	height: 1px;
	margin: 5px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
}
.jumbotron {
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
	background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.jumbotron p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 30px;
}
.jumbotron a {
	color: #fff;
	color: rgba(255,255,255,.5);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.jumbotron a:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(255,255,255,.25);
}
.masthead .btn {
	padding: 19px 24px;
	font-size: 24px;
	font-weight: 200;
	color: #fff; /* redeclare to override the `.jumbotron a` */
	border: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.masthead .btn:hover {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}
.jumbotron .container {
	position: relative;
	z-index: 2;
}
.jumbotron:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
	opacity: .4;
}@mediaonly screen and (-webkit-min-device-pixel-ratio: 2),only screen and (   min--moz-device-pixel-ratio: 2),only screen and (     -o-min-device-pixel-ratio: 2/1) {
.jumbotron:after {
	background-size: 150px 150px;
}}
.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: #fff;
}
.masthead h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}
.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}
.masthead-links {
	margin: 0;
	list-style: none;
}
.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: rgba(255,255,255,.25);
}
.gbar {
	padding: 15px;
	background: #000 url("../img/gbg.fw.png") repeat;
	margin: 20px 0px;
	font-size: 19pt;
	color: #ccc;
	text-shadow: 1px 1px #000;
}
.gbar-buttons {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.gbar-buttons li {
	display: inline-block;
	padding: 5px 8px;
	line-height: 1;
	*display: inline;
	*zoom: 1;
}
.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.subhead h1 {
	font-size: 60px;
}
.subhead p {
	margin-bottom: 20px;
}
.subhead .navbar {
	display: none;
}
.marketing {
	text-align: center;
	color: #5a5a5a;
}
.marketing h1 {
	margin: 60px 0 10px;
	font-size: 60px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}
.marketing h2 {
	font-weight: 200;
	margin-bottom: 5px;
}
.marketing p {
	font-size: 16px;
	line-height: 1.5;
}
.marketing .marketing-byline {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25;
	color: #999;
}
.marketing-img {
	display: block;
	margin: 0 auto 30px;
	max-height: 145px;
}
.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 0px;
	background-color: #333;
}
.footer p {
	margin-bottom: 0;
	color: #eee;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}
.footer a {
	color: #eee;
}
.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}
.show-grid [class*="span"] {
	background-color: #eee;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 40px;
	line-height: 40px;
}
.show-grid:hover [class*="span"] {
	background: #ddd;
}
.show-grid .show-grid {
	margin-top: 0;
	margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
	margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
	background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
	background-color: #999;
}
.mini-layout {
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout, .mini-layout .mini-layout-body, .mini-layout.fluid .mini-layout-sidebar {
	height: 300px;
}
.mini-layout {
	margin-bottom: 20px;
	padding: 9px;
}
.mini-layout div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.mini-layout .mini-layout-body {
	background-color: #dceaf4;
	margin: 0 auto;
	width: 70%;
}
.mini-layout.fluid .mini-layout-sidebar, .mini-layout.fluid .mini-layout-header, .mini-layout.fluid .mini-layout-body {
	float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
	background-color: #bbd8e9;
	width: 20%;
}
.mini-layout.fluid .mini-layout-body {
	width: 77.5%;
	margin-left: 2.5%;
}
.download .page-header {
	margin-top: 36px;
}
.page-header .toggle-all {
	margin-top: 5px;
}/* Space out h3s when following a section */
.download h3 {
	margin-bottom: 5px;
}
.download-builder input + h3, .download-builder .checkbox + h3 {
	margin-top: 9px;
}
.download-builder input[type=text] {
	margin-bottom: 9px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
	color: #d14;
}
.download-builder input[type=text]:focus {
	background-color: #fff;
}
.download .checkbox {
	padding: 6px 10px 6px 25px;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	background-color: #f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.download .checkbox:hover {
	color: #333;
	background-color: #f5f5f5;
}
.download .checkbox small {
	font-size: 12px;
	color: #777;
}/* Variables section */
#variables label {
	margin-bottom: 0;
}/* Giant download button */
.download-btn {
	margin: 36px 0 108px;
}
#download p, #download h4 {
	max-width: 50%;
	margin: 0 auto;
	color: #999;
	text-align: center;
}
#download h4 {
	margin-bottom: 0;
}
#download p {
	margin-bottom: 18px;
}
.download-btn .btn {
	display: block;
	width: auto;
	padding: 19px 24px;
	margin-bottom: 27px;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
h2 + table, h3 + table, h4 + table, h2 + .row {
	margin-top: 5px;
}
.scrollspy {
	height: 300px;
	overflow: auto;
	position: relative;
}
.focused {
	border-color: rgba(82,168,236,.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	outline: 0;
}
.docs-input-sizes select, .docs-input-sizes input[type=text] {
	display: block;
	margin-bottom: 9px;
}
.the-icons {
	margin-left: 0;
	list-style: none;
}
.the-icons li {
	float: left;
	width: 25%;
	line-height: 25px;
}
.the-icons i:hover {
	background-color: rgba(255,0,0,.25);
}
.bs-docs-example {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	*padding-top: 19px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}/* Echo out a label for the example */
.bs-docs-example:after {
	content: "Example";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
	margin-top: -20px;
	padding-top: 15px;
}/* Tweak examples------------------------- */
.bs-docs-example > p:last-child {
	margin-bottom: 0;
}
.bs-docs-example .table, .bs-docs-example .progress, .bs-docs-example .well, .bs-docs-example .alert, .bs-docs-example .hero-unit, .bs-docs-example .pagination, .bs-docs-example .navbar, .bs-docs-example > .nav, .bs-docs-example blockquote {
	margin-bottom: 5px;
}
.bs-docs-example .pagination {
	margin-top: 0;
}
.bs-navbar-top-example, .bs-navbar-bottom-example {
	z-index: 1;
	padding: 0;
	height: 90px;
	overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom {
	margin-left: 0;
	margin-right: 0;
}
.bs-navbar-top-example {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
	top: auto;
	bottom: -1px;
	-webkit-border-radius: 0 4px 0 4px;
	-moz-border-radius: 0 4px 0 4px;
	border-radius: 0 4px 0 4px;
}
.bs-navbar-bottom-example {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
	margin-bottom: 0;
}
form.bs-docs-example {
	padding-bottom: 19px;
}/* Images */
.bs-docs-example-images img {
	margin: 10px;
	display: inline-block;
}/* Tooltips */
.bs-docs-tooltip-examples {
	text-align: center;
	margin: 0 0 10px;
	list-style: none;
}
.bs-docs-tooltip-examples li {
	display: inline;
	padding: 0 10px;
}/* Popovers */
.bs-docs-example-popover {
	padding-bottom: 24px;
	background-color: #f9f9f9;
}
.bs-docs-example-popover .popover {
	position: relative;
	display: block;
	float: left;
	width: 260px;
	margin: 20px;
}
.bs-docs-example-submenus {
	min-height: 180px;
}
.bs-docs-example-submenus > .pull-left + .pull-left {
	margin-left: 20px;
}
.bs-docs-example-submenus .dropup > .dropdown-menu, .bs-docs-example-submenus .dropdown > .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 5px;
	*width: 180px;
}/* Responsive docs-------------------------------------------------- *//* Utility classes table------------------------- */
.responsive-utilities th small {
	display: block;
	font-weight: normal;
	color: #999;
}
.responsive-utilities tbody th {
	font-weight: normal;
}
.responsive-utilities td {
	text-align: center;
}
.responsive-utilities td.is-visible {
	color: #468847;
	background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
	color: #ccc;
	background-color: #f9f9f9 !important;
}/* Responsive tests------------------------- */
.responsive-utilities-test {
	margin-top: 5px;
	margin-left: 0;
	list-style: none;
	overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
	position: relative;
	float: left;
	width: 25%;
	height: 43px;
	font-size: 14px;
	font-weight: bold;
	line-height: 43px;
	color: #999;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.responsive-utilities-test li + li {
	margin-left: 10px;
}
.responsive-utilities-test span {
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.responsive-utilities-test span {
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
}/* Sidenav for Docs-------------------------------------------------- */
.bs-docs-sidenav {
	width: 228px;
	margin: 30px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
	background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
	opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
	background-image: url(../img/glyphicons-halflings-white.png);
	opacity: 1;
}
.bs-docs-sidenav.affix {
	top: 40px;
}
.bs-docs-sidenav.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}/* Responsive-------------------------------------------------- *//* Desktop large------------------------- */
@media (min-width: 1200px) {
	.bs-docs-container {
		max-width: 970px;
	}
	.bs-docs-sidenav {
		width: 258px;
	}
	.bs-docs-sidenav > li > a {
		width: 230px \9; /* Override the previous IE8-9 hack */
	}
}/* Desktop------------------------- */
@media (max-width: 980px) {/* Unfloat brand */
	body > .navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}/* Inline-block quick links for more spacing */
	.quick-links li {
		display: inline-block;
		margin: 5px;
	}/* When affixed, space properly */
	.bs-docs-sidenav {
		top: 0;
		width: 218px;
		margin-top: 30px;
		margin-right: 0;
	}
}/* Tablet to desktop------------------------- */
@media (min-width: 768px) and (max-width: 979px) {/* Remove any padding from the body */
	body {
		padding-top: 0;
	}/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		margin-top: -20px; /* Offset bottom margin on .navbar */
	}/* Adjust sidenav width */
	.bs-docs-sidenav {
		width: 166px;
		margin-top: 20px;
	}
	.bs-docs-sidenav.affix {
		top: 0;
	}
}/* Tablet------------------------- */
@media (max-width: 767px) {/* Remove any padding from the body */
	body {
		padding-top: 0;
	}/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		padding: 40px 20px;
		margin-top: -20px; /* Offset bottom margin on .navbar */
		margin-right: -20px;
		margin-left: -20px;
	}
	.masthead h1 {
		font-size: 90px;
	}
	.masthead p, .masthead .btn {
		font-size: 24px;
	}
	.marketing .span4 {
		margin-bottom: 40px;
	}
	.gbar {
		margin: 0 -20px;
	}/* Space out the show-grid examples */
	.show-grid [class*="span"] {
		margin-bottom: 5px;
	}/* Sidenav */
	.bs-docs-sidenav {
		width: auto;
		margin-bottom: 20px;
	}
	.bs-docs-sidenav.affix {
		position: static;
		width: auto;
		top: 0;
	}/* Unfloat the back to top link in footer */
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer p {
		margin-bottom: 9px;
	}
}/* Landscape phones------------------------- */
@media (max-width: 480px) {/* Remove padding above jumbotron */
	body {
		padding-top: 0;
	}/* Change up some type stuff */
	h2 small {
		display: block;
	}/* Downsize the jumbotrons */
	.jumbotron h1 {
		font-size: 45px;
	}
	.jumbotron p, .jumbotron .btn {
		font-size: 18px;
	}
	.jumbotron .btn {
		display: block;
		margin: 0 auto;
	}/* center align subhead text like the masthead */
	.subhead h1, .subhead p {
		text-align: center;
	}/* Marketing on home */
	.marketing h1 {
		font-size: 30px;
	}
	.marketing-byline {
		font-size: 18px;
	}/* center example sites */
	.example-sites {
		margin-left: 0;
	}
	.example-sites > li {
		float: none;
		display: block;
		max-width: 280px;
		margin: 0 auto 18px;
		text-align: center;
	}/* Do our best to make tables work in narrow viewports */
	table code {
		white-space: normal;
		word-wrap: break-word;
		word-break: break-all;
	}/* Examples: dropdowns */
	.bs-docs-example-submenus > .pull-left {
		float: none;
		clear: both;
	}
	.bs-docs-example-submenus > .pull-left, .bs-docs-example-submenus > .pull-left + .pull-left {
		margin-left: 0;
	}
	.bs-docs-example-submenus p {
		margin-bottom: 0;
	}
	.bs-docs-example-submenus .dropup > .dropdown-menu, .bs-docs-example-submenus .dropdown > .dropdown-menu {
		margin-bottom: 10px;
		float: none;
		max-width: 180px;
	}/* Examples: modal */
	.modal-example .modal {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
	}/* Tighten up footer */
	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.brmin {
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 5px dashed rgb(190,0,29,0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ff7 {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.ff7:before, .ff7:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	top: 0;
	bottom: 0;
	left: 10px;
	right: 10px;
	-moz-border-radius: 100px /10px;
	border-radius: 100px /10px;
}
.ff8 {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.ff8:before, .ff8:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 0;
	-moz-border-radius: 100px /10px;
	border-radius: 100px /10px;
}
.ff8:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}
.mxh {
	min-height: 576px;
}
.nosrednahabo {
	clear: both;
	padding: 0px;
}
hr.slim {
	border: 1px solid #222;
}
hr.light {
	border: 1px dashed #eee;
}
.tranbord {
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 15px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.tranmin {
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 10px solid rgba(129,0,29,0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ch-grid {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after, .ch-item:before {
	content: '';
	display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 10px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: inset 0 0 0 0 rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ch-img-1 {
	background-image: url(../images/a.jpg);
}
.ch-img-2 {
	background-image: url(../images/b.jpg);
}
.ch-img-3 {
	background-image: url(../images/c.jpg);
}
.ch-img-4 {
	background-image: url(../images/c.jpg);
}
.ch-img-5 {
	background-image: url(../images/c.jpg);
}
.ch-img-6 {
	background-image: url(../images/c.jpg);
}
.ch-img-7 {
	background-image: url(../images/c.jpg);
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden; /*for a smooth font */
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 30px 0 0 0;
	height: 50px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin-bottom: -10px;
}
.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}
.ch-item:hover {
	box-shadow: inset 0 0 0 110px rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.sbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.sbar::-webkit-scrollbar-track-piece {
	background-color: rgba(255, 0, 0, 0.2);
}
.sbar::-webkit-scrollbar-thumb {
	width: 15px;
	background-color: rgba(255, 0, 0, 1);
}
ul.animated {
	width: 1000px;
	list-style: none;
	margin: auto;
	padding: 0;
}
ul.animated li {
	padding: 0;
	border: 1px solid #eee;
	-moz-border-radius: 3px; /*--CSS3 Rounded Corners--*/
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px; /*--CSS3 Rounded Corners--*/
	display: inline; /*--IE6 Fix--*/
}
ul.animated li h2 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
	background: #f0f0f0;
	border-top: 1px solid #fff;
}
.description {
	width: 100%;
	background-color: black;
	text-align: left;
	color: white;
	opacity: 0.8; /* transparency */
	filter: alpha(opacity=60); /* IE transparency */
}
.description p {
	padding: 5px 10px;
	margin: 0px;
}
.p10 {
	padding: 10px;
}
.mxw {
	max-width: 220px;
}
.tranx {
	-moz-background-clip: padding;
	-webkit-background-clip: padding; /* Safari 4? Chrome 6? */
	background-clip: padding-box;
	border-top: 10px dashed rgba(0,0,204, 0.3);
	border-left: 10px dashed rgba(255,138,0, 0.3);
	border-right: 10px dashed rgba(255,138,0, 0.3);
	border-bottom: 10px dashed rgba(240,0,24, 0.3);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.container-narrow {
	margin: 0 auto;
	max-width: 400px;
}

.container-medium {
	margin: 0 auto;
	width: 90%;
}
hr.tw {
	border-top: 1px solid #ddd;
	margin: 3px;
}/************************/
.tp-grid {
	list-style-type: none;
	display: block;
}
.tp-grid li {
	position: absolute;
	cursor: pointer;
	border: 10px solid #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	display: none;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.no-js .tp-grid li {
	position: relative;
	display: inline-block;
}
.tp-grid li a {
	display: block;
	outline: none;
}
.tp-grid li img {
	display: block;
	border: none;
}
.tp-info, .tp-title {
	position: absolute;
	background: #fff;
	line-height: 20px;
	color: #333;
	top: 40%;
	width: 75%;
	padding: 10px;
	font-weight: 700;
	text-align: right;
	left: -100%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1), 5px 0 5px -3px rgba(0,0,0,0.4), inset 0 0 5px rgba(0,0,0,0.04);
}
.touch .tp-info {
	left: 0px;
}
.no-touch .tp-info {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.no-touch .tp-grid li:hover .tp-info {
	-webkit-transition-delay: 150ms;
	-moz-transition-delay: 150ms;
	-o-transition-delay: 150ms;
	-ms-transition-delay: 150ms;
	transition-delay: 150ms;
}
.no-touch .tp-open li:hover .tp-info {
	left: 0px;
}
.tp-title {
	padding: 10px 35px 10px 10px;
	left: 0px;
}
.tp-title span:nth-child(2) {
	color: #aaa;
	padding: 0 5px;
	background: #F7F7F7;
	right: 0px;
	height: 100%;
	line-height: 40px;
	top: 0px;
	p	osition: absolute;
	display: block;
}/**********************/
.wrapit {
	position: relative;
	padding: 0 0 50px 0;
}
.topbar {
	position: relative;
	padding: 10px 0;
}
.back {
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	text-align: center;
	line-height: 38px;
	color: #000;
	background: #ddd;
	background: rgba(255,255,255,0.5);
	cursor: pointer;
	display: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.no-touch .back:hover {
	background: #fff;
	background: rgba(255,255,255,0.9);
}
.topbar h2, .topbar h3 {
	display: inline-block;
	width: 49%;
	min-width: 320px;
}
.topbar h2 {
	padding-right: 20px;
	color: #666;
}
.topbar h3 {
	text-align: right;
	padding-left: 20px;
}/* Loader */
.loader {
	left: 50%;
	position: absolute;
	margin-left: -120px;
}
.loader i {
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-animation: loading 1s linear infinite forwards;
	-moz-animation: loading 1s linear infinite forwards;
	-o-animation: loading 1s linear infinite forwards;
	-ms-animation: loading 1s linear infinite forwards;
	animation: loading 1s linear infinite forwards;
}
.cssanimations .loader span {
	display: none;
}
.no-cssanimations .loader i {
	display: none;
}
.loader i:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.loader i:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.loader i:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.loader i:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.loader i:nth-child(6) {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}@-webkit-keyframes loading{0%{opacity: 0;background-color: rgba(255,255,255,0.9);	}100%{opacity: 1;-webkit-transform: scale(0.25) rotate(75deg);background-color: rgba(155,155,155,0.9);}}@-moz-keyframes loading{0%{opacity: 0;background-color: rgba(255,255,255,0.9);	}100%{opacity: 1;-moz-transform: scale(0.25) rotate(75deg);background-color: rgba(155,155,155,0.9);}}@-o-keyframes loading{0%{opacity: 0;background-color: rgba(255,255,255,0.9);	}100%{opacity: 1;-o-transform: scale(0.25) rotate(75deg);background-color: rgba(155,155,155,0.9);}}@-ms-keyframes loading{0%{opacity: 0;background-color: rgba(255,255,255,0.9);}100%{opacity: 1;-ms-transform: scale(0.25) rotate(75deg);background-color: rgba(155,155,155,0.9);}}@keyframes loading{0%{opacity: 0;background-color: rgba(255,255,255,0.9);	}	100%{	opacity: 1;	transform: scale(0.25) rotate(75deg);	background-color: rgba(155,155,155,0.9);	}}
@media screen and (max-width: 680px) {
	.topbar h2, .topbar h3 {
		text-align: left;
		padding: 0;
		display: block;
	}
	.back {
		left: auto;
		right: 0px;
		margin-left: 0px;
	}
}
.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}
.og-grid li > a, .og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}
.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}
.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}
.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}
.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.og-close::before, .og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.tyl {
	text-align: left;
}
.brand {
	float: right;
	font-size: 20px;
}
.ff3 {
	position: relative;
}
.ff3:before {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ff4 {
	position: relative;
}
.ff4:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	right: 10px;
	left: auto;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}
.fn3 {
	font-size: 15pt;
}
.noli {
	list-style: none;
}