<div class="container" style="margin-top:40px;">
<div class="row-fluid">
<div class="span6 well">
<h2 align="center">About - CemProactii <hr class="soften"></h2>
<div class="scrollspy sbar p10">
<img src="#{asset_path("aboutus.fw.png")}" class="pull-right img-polaroid"style="margin:10px;">
%p CemProactii Ltd was formed as a team of specialists passionate about the development of ideas, organization and delivery of successful events and conferences. 
%p We are well positioned and equipped to plan and execute events for our clients.  &nbsp; We  also develop and execute  events alone or in partnership with other private companies, governments, non-governmental organizations  etc.  
%p We are building CemProactii around our core values; experience, flexibility, imagination and passion, and our promise is to bring all our energy, expertise and enthusiasm to events, conference or roadshow project. 
%p There are real advantages and benefits to working with us:
%ul 
  %li Our experience minimizes your risk - our array of professionals with several years of experience allows us to predict outcomes and potential difficulties, and give you the reassurance of a successful event. 
  %li We innovate - if you want a new look and feel to your event, or are seeking a new approach, and then you can rely on our imaginative approach to deliver. 
  %li We're flexible - we are a dynamic and flexible firm who react quickly and positively to changing demands. 
  %li We are part of your team - reducing your workload, sharing responsibility and delivering tangible results. 
  %li We take away the stress, - supporting you every step of the way and providing solutions to difficult situations. 
  %li We go the extra mile - not just a high standard of service, but that critical extra effort when it really matters. 
  
  %li We will take on and deliver your project in its entirety if you want the burden of organization lifted from your shoulders. After all, you probably have a lot of other things to do at the same time.
</div>
</div>
<div class="span6">
<div class="row-fluid">
<div class="span6 well">
<h3 align="center">Mission Statement <hr class="soften"></h3>
<img src="#{asset_path('mission.fw.png')}">
<hr class="soften">
%p To lead the way and organize events the right way...
%p &nbsp;
</div>
<div class="span6 well">
<h3 align="center">Vision Statement <hr class="soften"></h3>
<img src="#{asset_path('vision.fw.png')}">
<hr class="soften">
To be a major role model in corporate events planning, execution and after-events experience and memories globally. 
</div>                    
</div>
    
</div>
</div>

<!--<div class="row-fluid">
<div class="span12">
<h2 class="soften" align="center" style="color:#ccc;">The Crew <hr class="soften"></h2>
<ul class="ch-grid">
<li>
<div class="ch-item ch-img-1">
<div class="ch-info">
<h3>Fistname Lastname</h3>
<hr>
<p>User Role <a href="#">#twitter handler</a></p>
</div>
</div>
</li>
<li>
<div class="ch-item ch-img-2">
<div class="ch-info">
<h3>Fistname Lastname</h3>
<hr>
<p>User Role <a href="#">#twitter handler</a></p>
</div>
</div>
</li>
<li>
<div class="ch-item ch-img-3">
<div class="ch-info">
<h3>Fistname Lastname</h3>
<hr>
<p>User Role <a href="#">#twitter handler</a></p>
</div>
</div>
</li>
<li>
<div class="ch-item ch-img-4">
<div class="ch-info">
<h3>Fistname Lastname</h3>
<hr>
<p>User Role <a href="#">#twitter handler</a></p>
</div>
</div>
</li>
<li>
<div class="ch-item ch-img-5">
<div class="ch-info">
<h3>Fistname Lastname</h3>
<hr>
<p>User Role <a href="#">#twitter handler</a></p>
</div>
</div>
</li>
<li>
<div class="ch-item ch-img-6">
<div class="ch-info">
<h3>Fistname Lastname</h3>
<hr>
<p>User Role <a href="#">#twitter handler</a></p>
</div>
</div>
</li>
<li>
<div class="ch-item ch-img-7">
<div class="ch-info">
<h3>Fistname Lastname</h3>
<hr>
<p>User Role <a href="#">#twitter handler</a></p>
</div>
</div>
</li>
          
</ul>
</div>                
</div>-->
</div>
= render "shared/social_media_links"
