<div class="container" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">Contact Us <hr class="slim"></h2>
<div class="row-fluid">
<div class="span6">
<div class="well">
<h3>Leave a Message <hr></h3>
<form class="tranx wellnone" method="" action="">
<div class="input-prepend well-small">
<span class="add-on">Name&nbsp;&nbsp;</span>
<input id="prependedInput" type="text" placeholder="Your Name"/>
</div>

<div class="input-prepend well-small">
<span class="add-on">Email&nbsp;&nbsp;&nbsp;</span>
<input id="prependedInput" type="text" placeholder="Your Email Address">
</div>

<div class="input-prepend well-small">
<span class="add-on">Subject</span>
<input id="prependedInput" type="text" placeholder="Your subject (Optional)">
</div>

<div class="well-small">
<div>Message</div>
<textarea id="prependedInput" rows="5" class="span12" placeholder="Your message"></textarea>
</div>
 
<button class="btn btn-submit pull-right"><i class="icon-white icon-envelope"></i> Send Message</button>              
<div class="nosrednahabo">&nbsp;</div>            
</form>
</div>
</div>
<div class="span6">
<div class="well">
<h3>Locate us</h3>
<h4>Office <hr class="soften"></h4>
No. 4 Kukawa close, Off Gimbiya Street,
area 11, Garki, Abuja.
<h4>Call us <hr class="soften"></h4>
+234 - 803 369 6511.
<h4>Send us a mail <hr class="soften"></h4>
info@cemproactii.com
</div>

<!--<div class="well">
<h3>Find us via Map</h3>
Map Unavailable...
</div>-->
</div>                
</div>
</div>