<div class="frx">
= render "shared/slider"
</div>
<div class="gbar">
<div class="container">
<div class="row-fluid">
<div class="span6">Welcome to CemProactii</div>
<div class="span6" align="right" style="margin-top:-30px;">Online Connect <a href="" title="Find us on facebook">
= image_tag "facebook.fw.png" 
</a> <a href="" title="Follow us on twitter">
= image_tag "Twitter.fw.png"
</a></div>
</div>  
</div>
</div>
<div class="container">
<div class="row-fluid">
<div class="span4 well mxh">
<h3 align="center">Why CemProactii <hr class="soften"></h3>
= image_tag "whyus.fw.png"
<hr>
%ul 
  %li Our experience minimizes your risk - our array of professionals with several years of experience allows us to predict outcomes and potential difficulties, and give you the reassurance of a successful event. 
  %li We innovate - if you want a new look and feel to your event, or are seeking a new approach, and then you can rely on our imaginative approach to deliver. 
  %li We're flexible - we are a dynamic and flexible firm who react quickly and positively to changing demands. 
  -#%li We are part of your team - reducing your workload, sharing responsibility and delivering tangible results. 
  -#%li We take away the stress, - supporting you every step of the way and providing solutions to difficult situations. 
  -#%li We go the extra mile - not just a high standard of service, but that critical extra effort when it really matters. 
  
  -#%li We will take on and deliver your project in its entirety if you want the burden of organization lifted from your shoulders. After all, you probably have a lot of other things to do at the same time.

</div>

<div class="span4 well mxh">
<h3 align="center">Featured Events<hr class="soften"></h3>
= render "shared/eventswall"

= render "shared/subscribe_to_newsletter"
</div>
= render "shared/newswall"

</div>
</div>
</div>






