<div class="container" style="margin-top:40px;">
<div class="row-fluid">
<div class="span12 well">
<h2 class="soften">Our Services <hr></h2>
<ul class="media-list">

<li class="media">
<a class="pull-left" href="#">
= image_tag "demoimg.jpg" , :class => "media-object img-polaroid"
</a>
<div class="media-body">
<h3 class="media-heading">Branding</h3>
%p Use your branding, or create a brand and logo for your conference.
</div>
</li> 
<li class="media">
<a class="pull-left" href="#">

= image_tag "demoimg.jpg" , :class => "media-object img-polaroid"
</a>
<div class="media-body">
<h3 class="media-heading">Event Website</h3>
%p Create a website for delegates to gain information, register their place, choose workshops and pay any fees.
</div>
</li>
<li class="media">
<a class="pull-left" href="#">
= image_tag "demoimg.jpg" , :class => "media-object img-polaroid"
</a>
<div class="media-body">
<h3 class="media-heading">Event Invitation and Publicity </h3>
%p Design invitation mailings and plan a marketing campaign.
</div>
</li>
<li class="media">
<a class="pull-left" href="#">
= image_tag "demoimg.jpg" , :class => "media-object img-polaroid"
</a>
<div class="media-body">
<h3 class="media-heading">Event Agenda </h3>
%p Provide advice on agenda development, speakers and timings. 
</div>
</li>
<li class="media">
<a class="pull-left" href="#">
= image_tag "demoimg.jpg" , :class => "media-object img-polaroid"
</a>
<div class="media-body">
<h3 class="media-heading">Event Venues</h3>
%p Help you to locate the ideal venue or series of venues.

</div>
</li>

<li class="media">
<a class="pull-left" href="#">
= image_tag "demoimg.jpg" , :class => "media-object img-polaroid"
</a>
<div class="media-body">
<h3 class="media-heading">Event Onsite Support</h3>
%p Provide  comprehensive onsite support and logistics through all D-day activities for your event.

</div>
</li>    
</ul>             
</div>                
</div>
</div>
= render "shared/social_media_links"