<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CemProactii Limited</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
%meta{:name=>'developer' , :content =>'Le Proghrammeen solutions'}
<meta name="description" content="An Event Management Company">
<meta name="author" content="">
<link rel="shortcut icon" href="favicon.fw.png">


= stylesheet_link_tag    "application", :media => "all" 
-#= javascript_include_tag "jquery.js"
= csrf_meta_tags
</head>
<body>
= render "shared/auth_menu"
= yield
= render "shared/footer"
</body>
= javascript_include_tag "application" 

- if flash[:notice]
  %script{:type=>"text/javascript"} 
    - t = flash[:notice]
    t = "#{t}"  
    type = "success"
- elsif flash[:error]
  %script{:type=>"text/javascript"} 
    - t = flash[:error]
    t = "#{t.html_safe}"  
    type = "error"
- elsif flash[:warning]
  %script{:type=>"text/javascript"} 
    - t = flash[:warning]
    t = "#{t}"  
    type = "warning"
- else 
  %script{:type=>"text/javascript"} 
     
    
    
  
    
= javascript_include_tag "site" 
= javascript_include_tag "application2"
= javascript_include_tag "gridd"
</html>
= debug(:session) if Rails.env.development?
