%div{:class=>"extraSpk"}
  <div class="input-prepend well-small">
  <span class="add-on">FullName &nbsp;&nbsp;&nbsp;</span>
  
  = text_field_tag "event_speaker[][fullname]",nil, {:placeholder => "Enter your name" } 
  </div>
  
  <div class="well-small">
  <span class="add-on">Speaker Photo &nbsp;&nbsp;&nbsp;</span>
  
  = file_field_tag "event_speaker[][photo]" ,:multiple=>"multiple"
  </div>
  <div class="input-prepend well-small">
  <span class="add-on">Website/Blog &nbsp;&nbsp;&nbsp;</span>
  
  = text_field_tag "event_speaker[][url]",nil, {:placeholder => "(e.g:www.hakim-haliru.blogspot.com)" } 
  </div>
  <hr class="soften">
  %br