<div class="container-narrow" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">New Speaker <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">
= form_for @event_speaker , :html=>{:multipart => true} do |f|
  <fieldset>
  <legend>Please fill this form</legend>
  
  <div class="input-prepend well-small">
  <span class="add-on"> Select Event &nbsp;&nbsp;&nbsp;</span>
  -#= select_tag "event_speaker[0][event_id]"  , @events.map{|e| [e.name, e.id]} ,:include_blank=>true
  = collection_select :event_speaker,:event_id ,@events, :id,:name ,:include_blank=>true
  </div>

  %div{:class=>"extraSpk"}
    <div class="input-prepend well-small">
    <span class="add-on">FullName &nbsp;&nbsp;&nbsp;</span>
  
    = f.text_field :fullname
    </div>
  
    <div class="well-small">
    <span class="add-on">Speaker Photo &nbsp;&nbsp;&nbsp;</span>
  
    = f.file_field :photo ,:multiple=>"multiple"
    </div>
    <div class="input-prepend well-small">
    <span class="add-on">Website/Blog &nbsp;&nbsp;&nbsp;</span>
  
    = f.text_field :url 
    </div>
    <hr class="soften">
    %br
    <hr class="soften">
  
  <button type="submit" class="btn btn-submit"><i class="icon-white icon-plus-sign"></i> Save Speaker</button>
  </fieldset>
  
</div>
<div class="nosrednahabo">&nbsp;</div>                                      
</div>
</div>