<div class="container-narrow" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">New Speaker <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">
= form_for @event_speaker , :html=>{:multipart => true} do |f|
  <fieldset>
  <legend>Please fill this form</legend>
  
  <div class="input-prepend well-small">
  <span class="add-on"> Select Event &nbsp;&nbsp;&nbsp;</span>
  -#= select_tag "event_speaker[0][event_id]"  , @events.map{|e| [e.name, e.id]} ,:include_blank=>true
  = collection_select :event_images,:event_id ,@events, :id,:name ,:include_blank=>true
  </div>
  
  
  = render "new_speaker"
  
  %div{:id=>"add_speaker"}

  
  = link_to '<i class="icon-white icon-plus"></i> Add Speaker'.html_safe ,add_event_speakers_url(:format=>:js) ,:remote=>true ,:class =>'btn btn-success'
  = link_to '<i class="icon-white icon-minus"></i> Remove Speaker'.html_safe ,remove_event_speakers_url(:format=>:js),:remote=>true ,:class =>'btn btn-danger'
  
  <hr class="soften">
  
  <button type="submit" class="btn btn-submit"><i class="icon-white icon-plus-sign"></i> Save Speaker</button>
  </fieldset>
  
</div>
<div class="nosrednahabo">&nbsp;</div>                                      
</div>
</div>