%div{:class=>"extraSpk"}
  <div class="input-prepend well-small">
  <span class="add-on">State &nbsp;&nbsp;&nbsp;</span>
  
  = text_field_tag "ng_state[][state]",nil, {:placeholder => "Enter state" } 
  </div>
  
  <div class="well-small">
  <span class="add-on">Capital &nbsp;&nbsp;&nbsp;</span>
  = text_field_tag "ng_state[][capital]" ,nil, {:placeholder => "Enter state" } 
  </div>
  
  <div class="well-small">
  <span class="add-on">Code &nbsp;&nbsp;&nbsp;</span>
  = text_field_tag "ng_state[][code]" ,nil, {:placeholder => "Enter state" } 
  </div>
  <hr class="soften">
  %br