<div class="container-narrow" style="margin-top:40px;">
<h2 style="color:#ccc;" align="center">New State <hr class="slim"></h2>
<div class="row-fluid">
<div class="span12 well">
= form_for @ng_state , :html=>{:multipart => true} do |f|
  <fieldset>
  <legend>Please fill this form</legend>
  
  
  
  
  = render "new_speaker"
  
  %div{:id=>"add_speaker"}

  
  = link_to '<i class="icon-white icon-plus"></i> Add Partner'.html_safe ,add_ng_states_url(:format=>:js) ,:remote=>true ,:class =>'btn btn-success'
  = link_to '<i class="icon-white icon-minus"></i> Remove Partner'.html_safe ,remove_ng_states_url(:format=>:js),:remote=>true ,:class =>'btn btn-danger'
  
  <hr class="soften">
  
  <button type="submit" class="btn btn-submit"><i class="icon-white icon-plus-sign"></i> Save Partner(s)</button>
  </fieldset>
  
</div>
<div class="nosrednahabo">&nbsp;</div>                                      
</div>
</div>